$primary-color: #3498db;
$font-family: 'Arial', sans-serif;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: $primary-color;
    color: white;

    &-brand {
        font-size: 30px;
        font-weight: bold;
    }

    &-menu {
        list-style: none;
        display: flex;
        gap: 20px;

        &-item {
            a {
                text-decoration: none;
                color: white;
                font-family: $font-family;
   
            }
        }
    }
}
